{% extends "base.html" %}

{% block title %}Portfolio — Sharon G Varghese{% endblock %}

{% block content %}
<section class="container text-center mt-5">
  <h1 class="display-4 fw-semibold">Welcome to the Admin Panel</h1>
  <p class="lead fw-semibold">Please log in to manage projects.</p>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow p-3">
        <h4 class="text-center mb-3">Admin Login</h4>
        <form method="POST">
          <input type="text" name="username" class="form-control mb-3" placeholder="Username" required>
          <input type="password" name="password" class="form-control mb-3" placeholder="Password" required>
          <button class="btn btn-primary w-100">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}
